:root {
    --main-page-color: rgb(151, 151, 151);
    --secondary-page-color: rgb(233, 233, 233);
    --bg-color-main: rgb(217, 219, 212);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 25%, rgba(210,219,219,1) 25%);;
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.col-4,
.col-8{
    background-color: white;
}

.overflow-hidden {
    overflow: hidden;
}

i {
    color: var(--main-page-color);
}

h6 {
    color: var(--secondary-page-color);
}

/* classi riusabili */

.img-size {
    border-radius: 50%;
    height: 70%;
    aspect-ratio: 1/1;
}

.icon-group-settings {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* generale */

.height-header {
    height: 70px;
}

.header-menu a {
    color: var(--main-page-color)
}

/* col 1 */

/* header */
.box-my-info,
.box-friend-info {
    background-color: var(--secondary-page-color);
}

.header-line-middle {
    border-right: 1px solid var(--main-page-color);
}

/* notifica */
.box-notifications a {
    font-style: none;
    color: var(--secondary-page-color);
}

.box-icon {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1/1;
}

.box-icon i {
    color: rgb(142, 218, 252);
    padding: .7rem;
    font-size: 1.5rem;
}

.notifications-banner {
    background-color: rgb(142, 218, 252);
}

.row>.col-4 {
    padding-left: 0;
    padding-right: 0;
}

/* search bar */

.box-input-search-bar {
    padding: .3rem;
    background-color: var(--secondary-page-color);
}

.box-search-icon a {
    color: var(--main-page-color);
}

.box-search-icon i {
    font-size: .9rem;
}

.box-search-icon {
    padding: 0 1.5rem;
    border: 1px solid var(--main-page-color);
    background-color: white;
}

.box-input-bar {
    width: 100%;
}

.box-input-bar input {
    width: 100%;
    border: 1px solid var(--main-page-color);
}

/* lista contatti */
.box-contatti {
    height: 100%;
    border-bottom: 1px solid var(--secondary-page-color);
    padding-top: .4rem;
    overflow: auto;
    flex-basis: 0;
    flex-grow: 1;

}

.box-contatti .img-size {
    width: 60px;
    margin: .3rem;
}

.box-contatti h6 {
    color: var(--main-page-color);
}

.box-friend-name-info {
    margin-left: .5rem;
}

.box-friend-profile:hover,
.box-friend-profile-long:hover {
    background-color: var(--secondary-page-color);
    cursor: pointer;
}

/* col 2 */

/* header */
.box-friend-profile-long {
    flex-basis: 0;
    flex-grow: 1;
}

.box-friend-name-info h6 {
    color: var(--main-page-color);
}

/* lista messaggi */

.box-messaggio {
    background-color: var(--secondary-page-color);
}

.row>.col-8 {
    padding-left: 0;
    padding-right: 0;
}

.input-sett {
    border: 0;
    border-radius: 5px;
}

.box-messaggio i {
    font-size: 1.3rem;
    color: var(--main-page-color);
}

.box-text-area {
    background-image: url("../img/mine.jpg");
    flex-basis: 0;
    flex-grow: 1;
    overflow: auto;
}

.altezza-pagina{
    height: 80vh;
}

.max-altezza{
    height: 100%;
}

.message-baloon{
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    display: inline-block;
    min-width: 200px;
    margin-top: .5rem;
    position: relative;
}

.single-message{
    margin:  0 1rem;
}

.sent{
    margin-left: auto;
    background-color: rgb(213, 249, 186);
}

.msg-time{
    position: absolute;
    bottom: 3px;
    right: 10px;
    text-align: right;
    font-size: .7rem;
}