<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <div class="container-lg my-5">
            <div class="row altezza-pagina overflow-hidden">
                <div class="col-4 max-altezza d-flex flex-column">
                    <div class="box-my-info d-flex justify-content-between height-header header-line-middle px-3">
                        <div class="box-my-profile d-flex align-items-center">
                            <img class="img-size" src="./img/avatar_io.jpg" alt="">
                            <h5>Sofia</h5>
                        </div>
                        <div class="box-my-settings icon-group-settings">
                            <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                            <a href="#"><i class="fa-solid fa-message"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    <div class="notifications-banner d-flex p-3 gap-3 align-items-center">
                        <div class="box-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="box-notifications">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">
                                <h6>Attiva notifiche desktop</h6>
                            </a>
                        </div>
                    </div>
                    <div class="box-input-search-bar d-flex align-items-center">
                        <div class="box-search-icon">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                        <div class="box-input-bar">
                            <input type="text" placeholder="Cerca o inizia una nuova chat" class="px-1">
                        </div>
                    </div>
                    <div class="box-contatti ">
                        <div class="box-friend-profile d-flex align-items-center px-2"
                            v-for="(singoloContatto, i) in contatti" @click="onUserClick(singoloContatto)">
                            <img class="img-size" :src="getAvatarImg(singoloContatto)" alt="">
                            <div class="box-friend-name-info">
                                <h5>{{singoloContatto.name}}</h5>
                                <h6>Ultimo messaggio inviato alle</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-8 d-flex flex-column">
                    <div class="box-friend-info d-flex justify-content-between height-header">
                        <div class="box-friend-profile-long d-flex align-items-center px-2">
                            <img class="img-size" :src="getAvatarOnClick(contattoCliccato)" alt="">
                            <div class="box-friend-name-info">
                                <h5>{{contattoCliccato.name}}</h5>
                                <h6>{{}}</h6>
                            </div>
                        </div>
                        <div class="box-friend-settings icon-group-settings px-3">
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>

                    <div class="box-text-area d-flex flex-column gap-1" ref="focusMessage">
                        <div class="single-message d-flex"
                        v-for="singoloMessaggio in contattoCliccato.messages">
                            <div class="message-baloon" :class="singoloMessaggio.status">
                            {{singoloMessaggio.message}}
                            <span class="msg-time">{{singoloMessaggio.date}}</span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="box-messaggio d-flex align-items-center p-2">
                        <div class="box px-4">
                            <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                        </div>
                        <div class="box px-1 d-flex flex-grow-1">
                            <input type="text" placeholder="Scrivi un messaggio"
                                class="d-flex flex-grow-1 p-2 input-sett"
                                v-model="myMessage"
                                @keyup.enter="onEnterClick(myMessage)">
                        </div>
                        <div class="box px-4">
                            <a href="#"><i class="fa-solid fa-microphone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
</body>

</html>